.Footer{
    /* margin-top: 85%; */
    margin-top: 25px;
    height: 150px;
    border-radius: 25px 25px 0 0;
    background-image: url(../../Imagenes/madera.jpg);

    display: flex;
    justify-content: space-between;
}

/*General*/
span{
    color: white;
    font-family: 'Potta One', cursive;
}
.titulo{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 14px;
    text-decoration: underline;
}
.texto{
    font-size: 12px;
}
/*Fin general*/

.contactos{
    margin-left: 5px;
    margin-top: 15px;    
}
.redes{
    margin-right: 5px;
    margin-top: 15px;
}
.tel,.wpp, .facebook, .instagram{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono{
    width: 18px;
}


@media only screen and (min-width: 500px){
    .Footer{
        height: 200px;
    }
    .titulo{
        font-size: 21px;
    }
    .texto{
        font-size: 18px;
    }
    
    .contactos{
        margin-left: 75px;
        margin-top: 15px;    
    }
    .redes{
        margin-right: 75px;
        margin-top: 15px;
    }
    .tel,.wpp, .facebook, .instagram{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icono{
        width: 50px;
    }
    
} 