.pedido-imagen.cover{
    object-fit: cover;
}
.pedido-imagen{
    width: 150px;
}
.pedido-icono{
    margin-left: 15px;
    width: 25px;
}
.pedido-container{
    /* margin-top: 50px; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.pedido-mini-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pedido-ocultar{
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: .5;
}
.sabores{
    margin-top: 5px;
    border-radius: 15px 5px 15px 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
}
.elegir{
    display: flex;
    justify-content: center;
}
.si{
    color: green;
}
.no{
    margin-left: 15px;
    color: red;
}
.pedido-titulo{
    color: white;
    font-size: 15px;
}
.pedido-texto{
    font-size: 12px;
}
.lista{
    display: grid;
    justify-content: center;
    align-items: center;
}

.icono-ingredientes{
    width: 15px;
    margin-left: 15px;
}
.lista_de_compras{
    display: flex;
    justify-content: center;
}
.frase{
    font-size: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.precio{
    display: flex;
    justify-content: center;
}

.boton{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.boton-a{
    background-color: burlywood;
    outline: none;
    border-radius: 15px 25px 15px 25px;
    padding: 5px 15px 5px 15px;
}
.listar_pedido{
    opacity: 0.7;
    background-color: cadetblue;
}

.listar_pedido-nombre{
    /* margin-top: 10px; */
    font-size: 15px;
    text-align: center;
    margin: 0px;
    padding: 0px 0 10px 0;
    display: flex;
    justify-content: center;
}